In [5]:
!unzip train.zip

Archive:  train.zip
  inflating: train.csv
  inflating: user_features.csv

In [6]:
!unzip test.zip

Archive:  test.zip
  inflating: test.csv

In [1]:
import pandas as pd
import numpy as np

In [8]:
!ls

Hike hackathon.ipynb		    test.csv  train.csv  user_features.csv
sample_submission_only_headers.csv  test.zip  train.zip

In [13]:
train=pd.read_csv('train.csv')

In [14]:
test=pd.read_csv('test.csv')

In [15]:
train.describe()

           node1_id      node2_id       is_chat
count  7.066180e+07  7.066180e+07  7.066180e+07
mean   4.314862e+06  4.358043e+06  3.186706e-02
std    2.546284e+06  2.552764e+06  1.756461e-01
min    3.000000e+00  2.000000e+00  0.000000e+00
25%    2.166775e+06  2.174045e+06  0.000000e+00
50%    4.439664e+06  4.439196e+06  0.000000e+00
75%    6.603873e+06  6.610565e+06  0.000000e+00
max    8.556563e+06  8.874626e+06  1.000000e+00

In [16]:
test.shape

(11776968, 3)

In [17]:
train.shape

(70661802, 3)

In [18]:
train.columns

Index(['node1_id', 'node2_id', 'is_chat'], dtype='object')

In [19]:
train.node1_id.nunique()

3528628

In [20]:
train.node2_id.nunique()

7935955

In [21]:
test.head()

   id  node1_id  node2_id
0   1   7107094   8010772
1   2   7995251   2805801
2   3   2804693   8059549
3   4   4812472   7332370
4   5   5009985   4511909

In [22]:
user_train=set(train.node1_id)
user_train.update(set(train.node2_id))

In [23]:
len(user_train)

7997030

In [24]:
user_test=set(test.node1_id)
user_test.update(set(test.node2_id))

In [25]:
len(user_test)

4978236

In [26]:
diff_test=user_train.difference(user_test)

In [27]:
len(user_test)

4978236

In [28]:
!ls

final_test.csv		 Hike modelling.ipynb		     train.csv
final_train.csv		 sample_submission_only_headers.csv  user_features.csv
Hike hackathon_dp.ipynb  test.csv

In [29]:
user_features=pd.read_csv('user_features.csv')

In [30]:
user_features.shape

(8264276, 14)

In [31]:
user_features.drop(columns=['node_id']).describe()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13
count,8.264276e+06,8.264276e+06,8.264276e+06,8.264276e+06,8.264276e+06,8.264276e+06,8.264276e+06,8.264276e+06,8.264276e+06,8.264276e+06,8.264276e+06,8.264276e+06,8.264276e+06
mean,1.655369e+01,7.542387e+00,3.830105e+00,1.667869e+01,7.706172e+00,3.930837e+00,1.676028e+01,7.816880e+00,3.955483e+00,1.685398e+01,7.913082e+00,3.974547e+00,1.219012e+01
std,1.398017e+01,1.007709e+01,8.465879e+00,1.390630e+01,1.009423e+01,8.487428e+00,1.385820e+01,1.012862e+01,8.506840e+00,1.381624e+01,1.016046e+01,8.529097e+00,3.787982e+00
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.000000e+00
50%,2.000000e+01,2.000000e+00,0.000000e+00,2.000000e+01,3.000000e+00,0.000000e+00,2.000000e+01,3.000000e+00,0.000000e+00,2.100000e+01,3.000000e+00,0.000000e+00,1.500000e+01
75%,3.100000e+01,1.100000e+01,2.000000e+00,3.100000e+01,1.200000e+01,2.000000e+00,3.100000e+01,1.200000e+01,2.000000e+00,3.100000e+01,1.200000e+01,2.000000e+00,1.500000e+01
max,3.100000e+01,3.100000e+01,3.100000e+01,3.100000e+01,3.100000e+01,3.100000e+01,3.100000e+01,3.100000e+01,3.100000e+01,3.100000e+01,3.100000e+01,3.100000e+01,1.500000e+01

In [32]:
train.shape

(70661802, 3)

In [33]:
test.shape

(11776968, 3)

In [34]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70661802 entries, 0 to 70661801
Data columns (total 3 columns):
node1_id    int64
node2_id    int64
is_chat     int64
dtypes: int64(3)
memory usage: 1.6 GB

In [35]:
from collections import Counter

In [36]:
node1_train=Counter(train.node1_id)

In [37]:
node2_train=Counter(train.node2_id)

In [38]:
node1_train.update(node2_train)

In [39]:
len(node1_train)

7997030

In [40]:
zero_users=[key for key,value in node1_train.items() if value==0]

In [41]:
len(zero_users)

0

In [42]:
train_node1=train.groupby('node1_id').agg({'is_chat':'sum'}).reset_index(drop=False)

In [43]:
train_node2=train.groupby('node2_id').agg({'is_chat':'sum'}).reset_index(drop=False)

In [44]:
train_node1.columns=['id','is_chat']

In [45]:
train_node2.columns=['id','is_chat']

In [46]:
train_node_merge=train_node1.merge(train_node2,on='id',how='left')

In [47]:
train_node_merge.head()

   id  is_chat_x  is_chat_y
0   3          0        2.0
1   5          0        0.0
2   6          0        1.0
3   7          0        0.0
4   8          1        1.0

In [48]:
train_node_merge['is_chat_y'].fillna(0,inplace=True)

In [49]:
train_node_merge['is_chat_sum']=train_node_merge['is_chat_x']+train_node_merge['is_chat_y']

In [50]:
train_node_merge.head()

   id  is_chat_x  is_chat_y  is_chat_sum
0   3          0        2.0          2.0
1   5          0        0.0          0.0
2   6          0        1.0          1.0
3   7          0        0.0          0.0
4   8          1        1.0          2.0

In [51]:
train_node_merge.is_chat_sum.nunique()

111

In [52]:
train_node_merge.is_chat_sum.describe()

count    3.528628e+06
mean     1.117310e+00
std      2.354529e+00
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      1.000000e+00
max      3.660000e+02
Name: is_chat_sum, dtype: float64

In [53]:
train_node_merge.head()

   id  is_chat_x  is_chat_y  is_chat_sum
0   3          0        2.0          2.0
1   5          0        0.0          0.0
2   6          0        1.0          1.0
3   7          0        0.0          0.0
4   8          1        1.0          2.0

In [54]:
train_node_merge['is_chat']=train_node_merge['is_chat_sum']

In [55]:
train_node_merge.loc[train_node_merge['is_chat']>1,'is_chat']=1

In [56]:
train_node_merge.is_chat.value_counts(normalize=True,dropna=False)

0.0    0.589954
1.0    0.410046
Name: is_chat, dtype: float64

In [57]:
final_train=pd.DataFrame()

In [58]:
final_train['node_id']=train_node_merge['id']
final_train['is_chat']=train_node_merge['is_chat']

In [59]:
final_train.head()

   node_id  is_chat
0        3      1.0
1        5      0.0
2        6      1.0
3        7      0.0
4        8      1.0

In [60]:
user_features.head()

   node_id  f1  f2  f3  f4  f5  f6  f7  f8  f9  f10  f11  f12  f13
0        2  14  14  14  12  12  12   7   7   7    0    0    0   15
1        3  31   9   7  31  16  12  31  15  12   31   15   12    8
2        4   0   0   0   0   0   0   0   0   0    0    0    0    7
3        5  31   4   1  31   7   1  31   9   1   31    9    0   15
4        6  31  27  20  31  24  14  31  20  10   31   20    5    7

In [61]:
final_train=final_train.merge(user_features,on='node_id',how='left')

In [62]:
final_train.shape

(3528628, 15)

In [63]:
test['is_chat']=0

In [64]:
test_node1=test.groupby('node1_id').agg({'is_chat':'sum'}).reset_index(drop=False)

In [65]:
test_node2=test.groupby('node2_id').agg({'is_chat':'sum'}).reset_index(drop=False)

In [66]:
test_node1.columns=['id','is_chat']
test_node2.columns=['id','is_chat']

In [67]:
test_node_merge=test_node1.merge(test_node2,on='id',how='left')

In [68]:
test_node_merge['is_chat_sum']=test_node_merge['is_chat_x']+test_node_merge['is_chat_y']

In [69]:
test_node_merge.is_chat_sum.nunique()

1

In [70]:
test_node_merge['is_chat']=test_node_merge['is_chat_sum']

In [71]:
final_test=pd.DataFrame()
final_test['node_id']=test_node_merge['id']
final_test['is_chat']=test_node_merge['is_chat']

In [72]:
final_test=final_test.merge(user_features,on='node_id',how='left')

In [73]:
final_test.shape

(2917144, 15)

In [74]:
final_train.to_csv('final_train.csv',index=False)
final_test.to_csv('final_test.csv',index=False)

In [75]:
final_train=pd.read_csv('final_train.csv')
final_test=pd.read_csv('final_test.csv')

In [76]:
x_test=final_test.drop(columns=['node_id','is_chat'])

In [77]:
x_train=final_train.drop(columns=['node_id','is_chat'])

In [78]:
y_train=final_train['is_chat']

In [85]:
params_tuned = {
#     'bagging_freq': 5,
#     'bagging_fraction': 0.4,
#     'boost_from_average':'false',
    'boost': 'gbdt',
#     'feature_fraction': 0.05,
    #'learning_rate': 0.05,
    'max_depth': -1,  
    'metric':'auc',
#     'min_data_in_leaf': 80,
#     'min_sum_hessian_in_leaf': 10.0,
#     'num_leaves': 13,
    'num_threads': 8,
    'tree_learner': 'serial',
    'objective': 'binary', 
    'verbosity': 1
}

In [80]:
final_train.is_chat.value_counts(dropna=False)

0.0    2081729
1.0    1446899
Name: is_chat, dtype: int64

In [81]:
import time
from sklearn.model_selection import StratifiedKFold
import lightgbm as lgb
from sklearn.metrics import roc_curve, auc, roc_auc_score
from sklearn.model_selection import train_test_split

In [83]:
X_train, X_valid, Y_train, Y_valid =train_test_split(x_train,y_train,test_size=0.2,stratify=y_train)

In [84]:
train_data = lgb.Dataset(X_train, label=Y_train)
valid_data = lgb.Dataset(X_valid, label=Y_valid)

In [86]:
lgb_model = lgb.train(params_tuned,train_data,num_boost_round=100000,
                valid_sets = [train_data, valid_data],verbose_eval=1000,early_stopping_rounds = 3000)

Training until validation scores don't improve for 3000 rounds.
[1000]	training's auc: 0.851618	valid_1's auc: 0.848251
[2000]	training's auc: 0.85393	valid_1's auc: 0.848046
[3000]	training's auc: 0.855762	valid_1's auc: 0.847877
Early stopping, best iteration is:
[411]	training's auc: 0.849887	valid_1's auc: 0.84832

In [87]:
import gc
gc.collect()

17

In [88]:
oof_df=pd.DataFrame()
oof_df['node_id']=final_train.node_id

In [93]:
train_predict=lgb_model.predict(x_train, num_iteration=lgb_model.best_iteration)

In [96]:
oof_df['is_chat']=train_predict

In [97]:
oof_df.head()

   node_id   is_chat
0        3  0.902747
1        5  0.385400
2        6  0.898560
3        7  0.136885
4        8  0.278693

In [99]:
oof_df.to_csv('oof_df.csv',index=False)

In [100]:
test_pred_df=pd.DataFrame()
test_pred_df['node_id']=final_test.node_id

In [102]:
test_pred_df['is_chat']=lgb_model.predict(x_test, num_iteration=lgb_model.best_iteration)

In [103]:
test_pred_df.to_csv('test_pred_df.csv',index=False)

In [ ]:
# X_test = x_test.values.astype(float)
# y_pred_lgb = np.zeros(len(X_test))
# features = [c for c in x_train.columns]
# oof = np.zeros(len(x_train))
# fold_n = 5
# cv = fold_n
    
# folds = StratifiedKFold(n_splits=fold_n, random_state=10, shuffle=True)

# for fold_n, (train_index, valid_index) in enumerate(folds.split(x_train,y_train)):
#     print('Fold', fold_n, 'started at', time.ctime())    
#     X_train, X_valid = x_train.iloc[train_index], x_train.iloc[valid_index]
#     Y_train, Y_valid = y_train[train_index], y_train[valid_index]

#     train_data = lgb.Dataset(X_train, label=Y_train)
#     valid_data = lgb.Dataset(X_valid, label=Y_valid)
        
#     lgb_model = lgb.train(params_tuned,train_data,num_boost_round=100000,
#                 valid_sets = [train_data, valid_data],verbose_eval=1000,early_stopping_rounds = 3000)
#     oof[valid_index] = lgb_model.predict(X_valid[features], num_iteration=lgb_model.best_iteration)
    
#     feature_importance_df = pd.DataFrame()
#     fold_importance_df = pd.DataFrame()
#     fold_importance_df["Feature"] = features
#     fold_importance_df["importance"] = lgb_model.feature_importance()
#     fold_importance_df["fold"] = fold_n + 1
#     feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)
        
#     y_pred_lgb += lgb_model.predict(X_test, num_iteration=lgb_model.best_iteration)/cv

# print("CV score: {:<8.5f}".format(roc_auc_score(y_train, oof)))

Fold 0 started at Sun Mar 31 07:49:51 2019
Training until validation scores don't improve for 3000 rounds.
[1000]	training's auc: 0.83894	valid_1's auc: 0.838978
[2000]	training's auc: 0.840624	valid_1's auc: 0.840685
[3000]	training's auc: 0.841161	valid_1's auc: 0.841223

In [142]:
train.head()

   node1_id  node2_id  is_chat
0   8446602   6636127        0
1   1430102   7433949        0
2   2803017   8372333        0
3   4529348    894645        0
4   5096572   4211638        0

In [144]:
oof_df['node1_id']=oof_df['node_id']
oof_df['node2_id']=oof_df['node_id']

In [147]:
oof_df.head()

   node_id   is_chat  node1_id  node2_id
0        3  0.931536         3         3
1        5  0.290570         5         5
2        6  0.921124         6         6
3        7  0.139529         7         7
4        8  0.274056         8         8

In [146]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))

    return df
train=reduce_mem_usage(train)
oof_df=reduce_mem_usage(train)

MemoryError:

In [145]:
train_picked=train.merge(oof_df,on='node1_id',how='left')

MemoryError: